# W2-Sharks-Clean-Project

### Importación y carga de Datos

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')  # para quitar warnings
pd.set_option('display.max_columns', None) # muestra todas las columnas del df.head()
#pd.set_option('display.max_rows', None) # muestra todas las columnas del df.head()
data=pd.read_csv('attacks.csv',encoding='windows-1252')

### Cambiar nombre de columnas

In [2]:
data.columns=[c.replace(' ', '_') for c in data.columns]
data.columns=[c.replace('.', '_') for c in data.columns]
data.columns=[c.replace(':', '') for c in data.columns]
data.columns=[c.replace('/', 'O') for c in data.columns]
data.columns=[c.replace('(', '') for c in data.columns]
data.columns=[c.replace(')', '') for c in data.columns]

### Exploración

In [3]:
data_original = data.shape
data.shape

(25723, 24)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex_                    5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal_YON               5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species_                3464 non-null   object
 15  Investigator_or_Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case_Number_1           6302 non-null   object
 20  Case_Number_2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [5]:
null_col=data.isnull().sum()
null_col[null_col>0]

Case_Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex_                      19986
Age                       22252
Injury                    19449
Fatal_YON                 19960
Time                      22775
Species_                  22259
Investigator_or_Source    19438
pdf                       19421
href_formula              19422
href                      19421
Case_Number_1             19421
Case_Number_2             19421
original_order            19414
Unnamed_22                25722
Unnamed_23                25721
dtype: int64

### Limpieza de Datos nulos

In [6]:
#¿Qué filas tienen valores nulos y cuántos?
data.isnull().sum(axis=1)

0         2
1         3
2         3
3         4
4         4
         ..
25718    24
25719    24
25720    24
25721    24
25722    23
Length: 25723, dtype: int64

In [7]:
#Eliminar las filas con más de 10 valores nulos y sobreescribir el dataframe 
data = data.drop(data[data.isnull().sum(axis=1) > 10].index)

In [8]:
data.shape

(6302, 24)

In [9]:
#Si no hay valores en Fatal_YON, elimina la fila.
null_fatal=data[data['Fatal_YON'].isna()].index
data.drop(index=null_fatal,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5763 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5762 non-null   object
 1   Date                    5763 non-null   object
 2   Year                    5762 non-null   float64
 3   Type                    5760 non-null   object
 4   Country                 5718 non-null   object
 5   Area                    5359 non-null   object
 6   Location                5280 non-null   object
 7   Activity                5344 non-null   object
 8   Name                    5610 non-null   object
 9   Sex_                    5276 non-null   object
 10  Age                     3244 non-null   object
 11  Injury                  5742 non-null   object
 12  Fatal_YON               5763 non-null   object
 13  Time                    2802 non-null   object
 14  Species_                2948 non-null   object
 15  Investigator_or_Source  5751 non-null   object
 16  pdf                     5763 non-null   object
 17  href_formula            5762 non-null   object
 18  href                    5763 non-null   object
 19  Case_Number_1           5763 non-null   object
 20  Case_Number_2           5763 non-null   object
 21  original_order          5763 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.1+ MB

In [10]:
# Si no hay Country, Area y Location, elimina la fila.
null_loc=data[(data['Country'].isna())&(data['Area'].isna())&(data['Location'].isna())].index
data.drop(index=null_loc,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5737 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5736 non-null   object
 1   Date                    5737 non-null   object
 2   Year                    5736 non-null   float64
 3   Type                    5734 non-null   object
 4   Country                 5718 non-null   object
 5   Area                    5359 non-null   object
 6   Location                5280 non-null   object
 7   Activity                5325 non-null   object
 8   Name                    5584 non-null   object
 9   Sex_                    5252 non-null   object
 10  Age                     3239 non-null   object
 11  Injury                  5718 non-null   object
 12  Fatal_YON               5737 non-null   object
 13  Time                    2799 non-null   object
 14  Species_                2943 non-null   object
 15  Investigator_or_Source  5725 non-null   object
 16  pdf                     5737 non-null   object
 17  href_formula            5736 non-null   object
 18  href                    5737 non-null   object
 19  Case_Number_1           5737 non-null   object
 20  Case_Number_2           5737 non-null   object
 21  original_order          5737 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.1+ MB

In [11]:
# Si no hay Sex_, elimina la fila.
null_Sex=data[(data['Sex_'].isna())].index
data.drop(index=null_Sex,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5252 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5251 non-null   object
 1   Date                    5252 non-null   object
 2   Year                    5251 non-null   float64
 3   Type                    5249 non-null   object
 4   Country                 5234 non-null   object
 5   Area                    4925 non-null   object
 6   Location                4849 non-null   object
 7   Activity                4954 non-null   object
 8   Name                    5199 non-null   object
 9   Sex_                    5252 non-null   object
 10  Age                     3204 non-null   object
 11  Injury                  5242 non-null   object
 12  Fatal_YON               5252 non-null   object
 13  Time                    2708 non-null   object
 14  Species_                2701 non-null   object
 15  Investigator_or_Source  5241 non-null   object
 16  pdf                     5252 non-null   object
 17  href_formula            5251 non-null   object
 18  href                    5252 non-null   object
 19  Case_Number_1           5252 non-null   object
 20  Case_Number_2           5252 non-null   object
 21  original_order          5252 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.0+ MB

In [12]:
#Evaluar que filas no tienen año
data[data['Year']==0]

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
6177,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,NaN,"FATAL, shark/s bit him in two",Y,NaN,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,NaN,NaN
6178,0000.0336,Ca. 336.B.C..,0.0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,NaN,"FATAL, shark ""bit off all lower parts of him u...",Y,NaN,NaN,Plutarch (45 - 125 A.D.) in Life of Phoecion (...,336-BC-Carnathus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0336,0000.0336,125.0,NaN,NaN
6179,0000.0493,493 B.C.,0.0,Sea Disaster,GREECE,Off Thessaly,NaN,Shipwrecked Persian Fleet,males,M,NaN,Herodotus tells of sharks attacking men in the...,Y,NaN,NaN,Herodotus (485 - 425 B.C.),493BC-PersianFleet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0493,0000.0493,124.0,NaN,NaN
6180,0000.0725,Ca. 725 B.C.,0.0,Sea Disaster,ITALY,Tyrrhenian Sea,Krater found during excavations at Lacco Ameno...,Shipwreck,males,M,NaN,Depicts shipwrecked sailors attacked by a sha...,Y,NaN,NaN,"V.M. Coppleson (1958), p.262, et al",725BC-vase.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0725,0000.0725,123.0,NaN,NaN
6181,ND-0154,Before 1939,0.0,Unprovoked,CANADA,NaN,Grand Banks,Fishing,Joe Folsom,M,NaN,Arm bitten,N,NaN,NaN,"C.E.Russell, pp. 310-311",ND-0154-Folsom.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0154,ND-0154,122.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [13]:
#Los datos no tienen exactitud, los quitamos
no_year=data[data['Year']==0].index
data.drop(index=no_year,inplace=True)

In [14]:
data[data['Location'].isnull()==True]

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
56,2017.12.09,09-Dec-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Snorkeling,Sarah Illig-Carroll,F,25,Minor injury to arm,N,NaN,Nurse shark. 5',"Daily Star, 12/11/2017",2017.12.09-Carroll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.09,2017.12.09,6247.0,NaN,NaN
101,2017.08.18,18-Aug-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Spearfishing,male,M,NaN,Hand injured,N,15h00,5' shark,"CBS12, 8/18/2017",2017.08.18-JupiterDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.18,2017.08.18,6202.0,NaN,NaN
110,2017.07.26.R,Reported 26-Jul-2017,2017.0,Unprovoked,BAHAMAS,40 miles off Grand Bahama Island,NaN,Spearfishing,Michael Massey,M,NaN,Severe lacerations to left hand,N,NaN,NaN,"RevistaJaraysedal.es, 7/26/2017",2017.07.26.R-Massey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.26.R,2017.07.26.R,6193.0,NaN,NaN
132,2017.06.14.R,Reported 14-Jun-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Feeding sharks,Carly,F,NaN,Fingernail pulled off,N,NaN,NaN,"AOL.UK, 6/14/2017",2017.06.14.R-Carly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.14.R,2017.06.14.R,6171.0,NaN,NaN
171,2017.03.09,Reported 09-Mar-2017,2017.0,Unprovoked,BAHAMAS,Great Exuma,NaN,Washing hands,George Keywood,M,58,Abrasions & lacerations to left leg and hand,N,NaN,Lemon shark,"Kent Live, 3/9/2017",2017.03.09-Keywood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.03.09,2017.03.09,6132.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6170,1580.01.10.R,Letter dated 10-Jan-1580,1580.0,Unprovoked,Between PORTUGAL & INDIA,NaN,NaN,Man fell overboard from ship. Those on board t...,male,M,NaN,"FATAL. ""Shark tore him to pieces.",Y,NaN,NaN,"G.P. Whitley, p. 10",1580.01.10.R-Portugal-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1580.01.10.R,1580.01.10.R,133.0,NaN,NaN
6172,1554.00.00,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,NaN,NaN,males (wearing armor),M,NaN,NaN,UNKNOWN,NaN,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,NaN,NaN
6173,1543.00.00,Ca. 1543,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,NaN,Pearl diving,Indian slave,M,NaN,FATAL,Y,NaN,NaN,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,NaN,NaN
6174,0500.00.00,Circa 500 A.D.,500.0,Unprovoked,MEXICO,NaN,NaN,NaN,male,M,NaN,Foot severed,N,NaN,NaN,J. Castro,500AD-Mexico.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0500.00.00,0500.00.00,129.0,NaN,NaN
6175,0077.00.00,77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,NaN,FATAL,Y,NaN,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,NaN,NaN

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5137 entries, 0 to 6176
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5136 non-null   object
 1   Date                    5137 non-null   object
 2   Year                    5136 non-null   float64
 3   Type                    5134 non-null   object
 4   Country                 5121 non-null   object
 5   Area                    4833 non-null   object
 6   Location                4764 non-null   object
 7   Activity                4856 non-null   object
 8   Name                    5085 non-null   object
 9   Sex_                    5137 non-null   object
 10  Age                     3191 non-null   object
 11  Injury                  5128 non-null   object
 12  Fatal_YON               5137 non-null   object
 13  Time                    2702 non-null   object
 14  Species_                2669 non-null   object
 15  Investigator_or_Source  5126 non-null   object
 16  pdf                     5137 non-null   object
 17  href_formula            5136 non-null   object
 18  href                    5137 non-null   object
 19  Case_Number_1           5137 non-null   object
 20  Case_Number_2           5137 non-null   object
 21  original_order          5137 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1003.3+ KB

In [16]:
#Eliminar los nulos de las columna Time
null_time=data[data['Time'].isnull()==True].index
data.drop(index=null_time,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2702 entries, 0 to 6160
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             2702 non-null   object
 1   Date                    2702 non-null   object
 2   Year                    2702 non-null   float64
 3   Type                    2701 non-null   object
 4   Country                 2700 non-null   object
 5   Area                    2643 non-null   object
 6   Location                2650 non-null   object
 7   Activity                2650 non-null   object
 8   Name                    2693 non-null   object
 9   Sex_                    2702 non-null   object
 10  Age                     2241 non-null   object
 11  Injury                  2699 non-null   object
 12  Fatal_YON               2702 non-null   object
 13  Time                    2702 non-null   object
 14  Species_                1703 non-null   object
 15  Investigator_or_Source  2698 non-null   object
 16  pdf                     2702 non-null   object
 17  href_formula            2702 non-null   object
 18  href                    2702 non-null   object
 19  Case_Number_1           2702 non-null   object
 20  Case_Number_2           2702 non-null   object
 21  original_order          2702 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              0 non-null      object
dtypes: float64(2), object(22)
memory usage: 527.7+ KB

In [17]:
#Cambiar los nulos de Species
data.Species_.fillna('unknown',inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2702 entries, 0 to 6160
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             2702 non-null   object
 1   Date                    2702 non-null   object
 2   Year                    2702 non-null   float64
 3   Type                    2701 non-null   object
 4   Country                 2700 non-null   object
 5   Area                    2643 non-null   object
 6   Location                2650 non-null   object
 7   Activity                2650 non-null   object
 8   Name                    2693 non-null   object
 9   Sex_                    2702 non-null   object
 10  Age                     2241 non-null   object
 11  Injury                  2699 non-null   object
 12  Fatal_YON               2702 non-null   object
 13  Time                    2702 non-null   object
 14  Species_                2702 non-null   object
 15  Investigator_or_Source  2698 non-null   object
 16  pdf                     2702 non-null   object
 17  href_formula            2702 non-null   object
 18  href                    2702 non-null   object
 19  Case_Number_1           2702 non-null   object
 20  Case_Number_2           2702 non-null   object
 21  original_order          2702 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              0 non-null      object
dtypes: float64(2), object(22)
memory usage: 527.7+ KB

In [18]:
#Cambiar valor no nulo por 0 en Unnamed_22
data[data['Unnamed_22'].notna()==True]

#Cambiar valor y valores nulos por 0
data.Unnamed_22[1478]=0
data.Unnamed_22.fillna(0,inplace=True)

#Cambiar valor no nulo por 0 en Unnamed_23
data[data['Unnamed_23'].notna()==True]

#Cambiar valor y valores nulos por 0
data.Unnamed_23[4415]=0
data.Unnamed_23[5840]=0
data.Unnamed_23.fillna(0,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2702 entries, 0 to 6160
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             2702 non-null   object
 1   Date                    2702 non-null   object
 2   Year                    2702 non-null   float64
 3   Type                    2701 non-null   object
 4   Country                 2700 non-null   object
 5   Area                    2643 non-null   object
 6   Location                2650 non-null   object
 7   Activity                2650 non-null   object
 8   Name                    2693 non-null   object
 9   Sex_                    2702 non-null   object
 10  Age                     2241 non-null   object
 11  Injury                  2699 non-null   object
 12  Fatal_YON               2702 non-null   object
 13  Time                    2702 non-null   object
 14  Species_                2702 non-null   object
 15  Investigator_or_Source  2698 non-null   object
 16  pdf                     2702 non-null   object
 17  href_formula            2702 non-null   object
 18  href                    2702 non-null   object
 19  Case_Number_1           2702 non-null   object
 20  Case_Number_2           2702 non-null   object
 21  original_order          2702 non-null   float64
 22  Unnamed_22              2702 non-null   int64
 23  Unnamed_23              2702 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 592.3+ KB

In [19]:
#Eliminar nulos de Age
null_age=data[data['Age'].isnull()==True].index
data.drop(index=null_age,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2241 entries, 0 to 6160
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             2241 non-null   object
 1   Date                    2241 non-null   object
 2   Year                    2241 non-null   float64
 3   Type                    2241 non-null   object
 4   Country                 2241 non-null   object
 5   Area                    2206 non-null   object
 6   Location                2203 non-null   object
 7   Activity                2200 non-null   object
 8   Name                    2238 non-null   object
 9   Sex_                    2241 non-null   object
 10  Age                     2241 non-null   object
 11  Injury                  2239 non-null   object
 12  Fatal_YON               2241 non-null   object
 13  Time                    2241 non-null   object
 14  Species_                2241 non-null   object
 15  Investigator_or_Source  2239 non-null   object
 16  pdf                     2241 non-null   object
 17  href_formula            2241 non-null   object
 18  href                    2241 non-null   object
 19  Case_Number_1           2241 non-null   object
 20  Case_Number_2           2241 non-null   object
 21  original_order          2241 non-null   float64
 22  Unnamed_22              2241 non-null   int64
 23  Unnamed_23              2241 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 437.7+ KB

In [20]:
#Rellenar valores null de Area
data.Area.fillna('unknown',inplace=True)
data.Location.fillna('unknown',inplace=True)
data.Activity.fillna('unknown',inplace=True)
data.Name.fillna('unknown',inplace=True)
data.Injury.fillna('unknown',inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2241 entries, 0 to 6160
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             2241 non-null   object
 1   Date                    2241 non-null   object
 2   Year                    2241 non-null   float64
 3   Type                    2241 non-null   object
 4   Country                 2241 non-null   object
 5   Area                    2241 non-null   object
 6   Location                2241 non-null   object
 7   Activity                2241 non-null   object
 8   Name                    2241 non-null   object
 9   Sex_                    2241 non-null   object
 10  Age                     2241 non-null   object
 11  Injury                  2241 non-null   object
 12  Fatal_YON               2241 non-null   object
 13  Time                    2241 non-null   object
 14  Species_                2241 non-null   object
 15  Investigator_or_Source  2239 non-null   object
 16  pdf                     2241 non-null   object
 17  href_formula            2241 non-null   object
 18  href                    2241 non-null   object
 19  Case_Number_1           2241 non-null   object
 20  Case_Number_2           2241 non-null   object
 21  original_order          2241 non-null   float64
 22  Unnamed_22              2241 non-null   int64
 23  Unnamed_23              2241 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 437.7+ KB

In [21]:
null_Invest=data[data['Investigator_or_Source'].isnull()==True].index
data.drop(index=null_Invest,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2239 entries, 0 to 6160
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             2239 non-null   object
 1   Date                    2239 non-null   object
 2   Year                    2239 non-null   float64
 3   Type                    2239 non-null   object
 4   Country                 2239 non-null   object
 5   Area                    2239 non-null   object
 6   Location                2239 non-null   object
 7   Activity                2239 non-null   object
 8   Name                    2239 non-null   object
 9   Sex_                    2239 non-null   object
 10  Age                     2239 non-null   object
 11  Injury                  2239 non-null   object
 12  Fatal_YON               2239 non-null   object
 13  Time                    2239 non-null   object
 14  Species_                2239 non-null   object
 15  Investigator_or_Source  2239 non-null   object
 16  pdf                     2239 non-null   object
 17  href_formula            2239 non-null   object
 18  href                    2239 non-null   object
 19  Case_Number_1           2239 non-null   object
 20  Case_Number_2           2239 non-null   object
 21  original_order          2239 non-null   float64
 22  Unnamed_22              2239 non-null   int64
 23  Unnamed_23              2239 non-null   int64
dtypes: float64(2), int64(2), object(20)
memory usage: 437.3+ KB

## Limpieza de Columnas

### Case_Number

### Date

In [22]:
data.Date.replace(['Jan', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dec'],['01','02','03','04','05','06','07','08','09','10','11','12'],regex=True,inplace=True)

In [23]:
data.Date

0       25-06-2018
1       18-06-2018
2       09-06-2018
6       03-06-2018
8       26-05-2018
           ...
5963    22-12-1862
5991    14-03-1858
6077    17-01-1837
6114    11-05-1817
6160    26-03-1703
Name: Date, Length: 2239, dtype: object

In [24]:
#data.Date=pd.to_datetime(data.Date,format='%y-%m-%d')

In [25]:
#data.Date.replace('\.','-',regex=True,inplace=True)

In [26]:
#data.Date.replace('[a-zA-Z]','',regex=True,inplace=True)

In [27]:
#data.Date

In [28]:
#for i in range(len(data.Date)):
 #   if len(i==11):
  #         data.Date[i][:-1]

In [29]:
#data.Date.unique()

### Type

In [30]:
data.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Boat',
       'Sea Disaster'], dtype=object)

In [31]:
data.Type.replace('Boat','Boating',inplace=True)

In [32]:
data.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Sea Disaster'],
      dtype=object)

### Country

In [99]:
country_lst=data.Country.unique()
country_lst.sort()
country_lst

array(['AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'ARGENTINA',
       'AUSTRALIA', 'BAHAMAS', 'BARBADOS', 'BERMUDA', 'BRAZIL',
       'BRITISH WEST INDIES', 'CHILE', 'COLUMBIA', 'COSTA RICA',
       'CROATIA', 'CUBA', 'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT',
       'EGYPT ', 'EL SALVADOR', 'ENGLAND',
       'FEDERATED STATES OF MICRONESIA', 'FIJI', 'FRANCE',
       'FRENCH POLYNESIA', 'Fiji', 'GRAND CAYMAN', 'GREECE', 'GRENADA',
       'GUAM', 'GUINEA', 'HONG KONG', 'INDIA', 'INDONESIA', 'IRAQ',
       'ISRAEL', 'ITALY', 'JAMAICA', 'JAPAN', 'KENYA', 'MADAGASCAR',
       'MALDIVES', 'MARSHALL ISLANDS', 'MEXICO', 'MICRONESIA',
       'MID ATLANTIC OCEAN', 'MOZAMBIQUE', 'NEW BRITAIN', 'NEW CALEDONIA',
       'NEW ZEALAND', 'NICARAGUA', 'NORTH ATLANTIC OCEAN ',
       'NORTH PACIFIC OCEAN', 'OKINAWA', 'PACIFIC OCEAN',
       'PACIFIC OCEAN ', 'PALAU', 'PALESTINIAN TERRITORIES', 'PANAMA',
       'PAPUA NEW GUINEA', 'PHILIPPINES', 'PUERTO RICO', 'REUNION',
       'RUSSIA', 'SAMOA', 'SCOTLAND', 'SENEGAL', 'SEYCHELLES',
       'SINGAPORE', 'SOLOMON ISLANDS', 'SOUTH AFRICA',
       'SOUTH ATLANTIC OCEAN', 'SOUTH KOREA', 'SPAIN', 'SRI LANKA',
       'ST HELENA, British overseas territory', 'ST. MAARTIN', 'TAIWAN',
       'TANZANIA', 'THAILAND', 'TONGA', 'TURKEY', 'TURKS & CAICOS',
       'UNITED ARAB EMIRATES', 'UNITED ARAB EMIRATES (UAE)',
       'UNITED KINGDOM', 'USA', 'VANUATU', 'VENEZUELA', 'VIETNAM',
       'YEMEN '], dtype=object)

In [101]:
data[data['Country']=='NORTH ATLANTIC OCEAN ']

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
4288,1955.08.00.c,Aug-1955,1955.0,Unprovoked,NORTH ATLANTIC OCEAN,Open sea,unknown,Treading water,Wolfgang Emrich,M,15,No injury,N,Early afternoon,unknown,"H.D.Baldridge (1994), SAF Case #1489",1955.08.00.c-NV-Emrich.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.08.00.c,1955.08.00.c,2015.0,0,0

In [102]:
data.Country.replace(['EGYPT ','Fiji','GUINEA','UNITED ARAB EMIRATES (UAE)'],['EGYPT','FIJI','PAPUA NEW GUINEA','UNITED ARAB EMIRATES'],inplace=True)

### Area

In [34]:
data.Area.unique()

array(['California', 'Georgia', 'Hawaii', 'Pernambuco', 'Florida',
       'Queensland', 'South Carolina', 'Cornwall', 'Cocos Island',
       'Western Australia', 'Alifu Alifu Atoll', 'Western Cape Province',
       'unknown', 'Eastern Cape Province', 'Victoria', 'New South Wales',
       'Fernando de Noronha', 'Holquin Province', 'South Australia',
       'Shizuoka Prefecture', 'Massachusetts', 'Ascension Island',
       'Ibiza Island', 'New Providence ', 'Sharjah, ',
       'Baja California Sur', 'Saint-Leu', 'South Island', 'Saint-Andre',
       'Bali', 'Oregon', 'North Province', 'Alicante Province',
       'Kochi Prefecture', 'North Carolina', 'Isla Provedencia', 'Texas',
       'Suez', 'North Island', 'Tuamotos', 'Grand Terre', 'Vanua Levu',
       'South Province', 'Galapagos Islands', 'Inhambane Province',
       'Phuket', 'Tasmania', 'Le Port', 'Rangiroa',
       'Saint-Gilles-les-Bains', 'Bora Bora', 'Sinaloa', 'd’Étang-Salé',
       'Abaco Islands', 'Alabama', 'Louisiana', 'Delaware',
       'Atsumi peninsula', 'Baie de Sainte-Marie', 'Society Islands',
       'New Jersey', 'Southern District', 'Bay of Biscay',
       'Exuma Islands', 'Saint-Paul', 'Santa Cruz Island', 'Saint-Gilles',
       'Quintana Roo', 'Tuamotus', 'St. Catherine', 'Saint Leu',
       'Trois-Bassins', 'Sardinia', 'Guerrero', 'Saint-Benoit',
       'Santa Elena', 'Bois-Blanc ', 'Central Province',
       'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)',
       'Puerto Rico', 'Praslin', 'Grand Bahama Island', 'Sucre',
       'Middle Caicos', 'KwaZulu-Natal', 'Guanacaste', 'Vitu Levu',
       ' Loyalty Islands', 'Saint Gilles ', 'West End',
       'South Sinai Peninsula', 'Palmyra Atoll', 'Maine', 'Virginia',
       "Ha'api ", 'Jeju Province', 'Grand Canary Island', 'New York',
       'Binh Dinh Province', 'Antsiranana Province', 'Sinai Peninsula',
       'Off Vanua Levu', 'Dubai', 'Western Province',
       'Eastern Cape  Province', 'Maputo Province', 'Bocas', 'Fife',
       'Devon', 'St. Johns Reef', 'Off Green Island', 'North Region',
       'Batangas province', 'Guantanamo Province', 'Luzon',
       ' Split-Dalmatia Count,', 'Northern Territory',
       'US Virgin Islands', 'Guerro', 'Yasawa Islands',
       'Northern Bahamas', 'Loyalty Islands', 'Red Sea',
       'Territory of Cocos (Keeling) Islands', 'Kent', 'Saint-Pierre',
       'Andros Islands', 'Guam', "Vava'u", 'Simpson Bay', 'East Wall',
       'Malampa Province', 'New Mexico', 'Camaguey Province',
       'Conservatória District', 'South Carolina ', 'Saint-Benoît',
       'South Island, near Karitane north of Dunedin', 'Anzoategui',
       'Cook Islands', 'Taveuni', 'Johnston Atoll', 'Rio de Janeiro',
       'Nueva Esparta', 'Southland', 'Caicos Bank', 'Maryland',
       'KwaZulu-Natal between Port Edward and Port St Johns',
       'Cikobia Island (north of Vanua Levu)', 'Baja California',
       'Miyako Island', 'Ralik Chain', "L' Etang Salé-les-Bains",
       'Berry Islands', 'Gaza', 'Chatham Islands ', 'Saint-Paul ',
       'Vava’u', 'New Territories', 'Aichi Prefecture', 'Saint-Denis',
       'Costa Blanca', 'Walkers Cay', 'Ehime Prefecture', 'Ligurian Sea',
       "L'Etang-Salé", 'Port Shelter', 'Tyrrhenian Sea', 'Sicily',
       'Chungnam', "Grand'Anse", "Ha'api", ' Split-Dalmatia County',
       'Mirs Bay ', 'Istria County', 'Inhambe Province',
       'Eastern Caroline Islands', 'St. Andrew Parish', 'Basrah',
       'Clarendon', 'Magdalena Department', 'Kagawa Prefecture',
       'Hamilton', 'Out Islands', 'Mugla Province',
       'New Ireland Province', 'Bimini Islands', 'Duke of York Islands',
       "250 miles southwest of O'ahu, Hawaii", 'Veracruz',
       'Western Caroline Islands', 'Bougainville (North Solomons)',
       'Victoria ', 'Northern Taiwan', 'Vita Levu', 'Lomaloma, Lau',
       'Gulf Province', ' Lau Province', 'Ysabel Island', 'Thessaly',
       'Lomaiviti  Island Group', 'Grand Turk Island',
       'Northern District', 'New Ireland Province, Bismarck Archipelago',
       'Madang', '10ºS, 142ºE', 'Kwajalein Atoll', 'Torres Strait',
       'Primorje-Gorski Kotar County ', '165  miles from Bermuda',
       'Adriatic Sea', 'Wake Island (EnenKio)', 'Connecticut',
       'Milne Bay Province', 'Corregidor Island', 'San Blas Islands',
       'Paget', 'Kadavu', 'Wakayama Prefecture', 'Okayama Prefecture',
       'Guadalcanal Province', 'Tutuila Island', 'Cat Cay',
       'Coast Province', 'Between Hawaii & Wake Island', 'Taipei Hsien',
       'Honiara', 'Near Dakar, Cap Vert Peninsula', 'Open sea',
       '18S / 50E', 'Buenos Aires Province', 'Madang Province',
       ' La Libertad', 'Sago Prefecture', 'Caribbean Sea',
       'Jakarta Harbour', 'Attica', 'Gulf of Panama', 'Cay Sal Bank',
       'In Convoy OB 274', 'Basrah City', 'Queensland ',
       'Havana Province', 'Golfo di Genova in the Ligurian Sea',
       'South of the Equator ',
       '2 to 3 miles off Taboguilla Island, Pacific Ocean',
       'Westmoreland Parish', 'Luzon Island', 'Rio San Juan',
       'Mediterranean Sea', 'Aden', 'Rhode Island', 'West Bengal',
       'Hoogly River', 'Conakry Region', 'Southwest coast'], dtype=object)

### Location

In [35]:
data.Location.unique()

array(['Oceanside, San Diego County', 'St. Simon Island, Glynn County',
       'Habush, Oahu', ..., 'Macleay River', 'Colombo', 'Carlisle Bay'],
      dtype=object)

### Activity

In [36]:
data.Activity.unique()

array(['Paddling', 'Standing', 'Surfing', 'Swimming', 'Walking',
       'Feeding sharks', 'Fishing', 'Scuba diving', 'Paddle-skiing',
       'Stand-Up Paddleboarding', 'Wading', 'Kayak fishing for sharks',
       'unknown', 'Spearfishing', 'Night bathing', 'Surfing ',
       'Kayaking / Fishing', 'Snorkeling', 'SUP', 'Skimboarding',
       'Kayaking', 'Body boarding', 'Paddle boarding', 'Kakaying',
       'Scuba Diving', 'Surf skiing ', 'Free diving', 'Surf fishing',
       'Floating', 'Surfng', 'Kite surfing', 'Boogie boarding',
       'SUP Foil boarding', 'Floating in tube', 'Diving',
       'Teasing a shark', 'Body surfing', 'Diving for beche-de-mer',
       'Windsurfing', 'Swimming / Wading', 'Photographing fish',
       'Kayak Fishing', 'Surf-skiing', 'Scallop diving on hookah',
       'Body boarding ', 'Playing in the water', 'Body Boarding',
       'Body surfing?', 'Playing', 'Standing / Snorkeling',
       'Hand feeding sharks', 'Rowing', 'Shark fishing', 'Fishing ',
       'Kayaking ', 'Kneeling in the water', 'Kite Surfing',
       'Kitesurfing', 'Sailing', 'Spearfishing / Free diving',
       'Kiteboarding', 'Diving ', 'Swimming / snorkeling',
       'Diving for Abalone', 'Casting a net',
       'Longline fishing for sharks', 'Cleaning fish', 'Walking in surf',
       'Swimming & snorkeling', 'Boogie Boarding', 'Playing in the surf',
       'Kite boarding', "Fishing - 'tag & release'", 'Bodyboarding',
       'Swimming or boogie boarding', 'Free diving ',
       'Sitting in the water',
       'Attempting to rescue an injured & beached shark',
       'Free diving / spearfishing', 'Diving, feeding sharks', 'Canoeing',
       'Jumping in the waves', 'Wade Fishing', 'Floating ',
       'Swimming or Snorkeling', 'Jet skiing',
       'Standing or boogie boardin', 'Kite Boarding',
       'Washing sand off a speared fish', 'Diving / fishing',
       'Wakeboarding', 'Diving for abalone', 'Swimming /  Whale Watching',
       'Rescuing', 'Measuring sharks', 'Swimming / treading water',
       'Paddling on kneeboard', 'Paddle-boarding',
       'Swimming, attempting to rescue a girl  believed to be drowning',
       'Diving, but on the surface when bitten by the shark',
       'Swimming, towing surfboard', 'Treading water', 'Night diving',
       'Walking out of the water after surfing',
       "Accidentally stood on hooked shark's tail before attempting to gut it ",
       'Wading?', 'Jumping',
       'Floating near boat & observing bioluminesce',
       'Jumped into the water', 'Reviving a sedated shark',
       'Swimming / jumping off a jetty', 'Playing on a sandbar',
       'Spearfishing (free diving)', 'Swimming / Body Surfing',
       'Playing soccer in the water', 'Lifesaving drill',
       'Fishing for sharks', 'Standing / Surfing',
       'Treading water/ Surfing', 'Holding onto an inflatable boat',
       'Swimming with boogie board', 'Spearfishing (Free diving)',
       'Diving in aquarium display tank', 'Fishing from a kayak',
       'Scurfing (surfboard being  towed behind a boat)',
       'Chumming for white sharks', 'Bathing',
       'Wading / fishing & carrying a bag of fish',
       'Swimming, poaching perlemoen', 'Boogie-boarding / swimming',
       'Free diving & spearfishing', 'Tandem surfing',
       'Swimming / shipwreck', 'Surfing amid a shoal of sharks',
       'Sitting on surfboard', 'Wading near a fishing net',
       'Wading to shore from his boat', 'Standing, stepped on shark',
       'Swimming, wearing black wetsuit & swim fins',
       'Walking, carrying surfboard & stepped on shark',
       'Swimming with pod of dolphins', 'Swimming ',
       'Swimming (using a float)', 'Fishing from Surfboard',
       'Boogie boarding or Surfing', 'Surf skiing',
       'Wading, when he stepped on the shark', 'Shark Fishing',
       'Snorkeling (filming the sardine run)', 'Floating on a raft',
       'Fishing, removing the shark from his line',
       'Playing in the surf with his 2 dogs',
       'Scallop diving (using surface-supplied air & a POD) ',
       'Surfing, but standing in water alongside board', 'Body-boarding',
       'Swimming /  boogie boarding',
       'Surfing, fell off surfboard & stepped on the shark.',
       'Wreck / Technical diving', 'Walking in shallows',
       'Floating face-down in knee-deep water',
       'Standing alongside surfboard',
       'Swimming back from anchored sailboat', 'Standing / surfing',
       'Swimming / Body surfing', 'Windsurfing, but sitting on his board',
       'Surfing / Wading',
       'Spearfishing, holding mesh bag with speared fish',
       'Spearfishing, but swimming at surface',
       'Surfing, lying on surfboard', 'Wading to shore after surfing',
       'Wading with surfboard', "Lying prone in 2' of water",
       'Spearfishing & holding catch', 'Swimming with dolphins',
       'Wading in school of baitfish', 'Splashing / wading',
       'Swimming after being swept into sea by a large wave',
       'Swimming, towing a kayak', 'Swimming near pod of whales',
       'Free diving for abalone', 'Swimming / surfing',
       'Towing rubber dinghy', 'Surfing (lying prone on his board)',
       'Snorkeling – hunting crayfish and abalone',
       'Swimming or paddle boarding',
       'Scuba diving (submerged riding a scooter)',
       'Body boarding or surfing', 'Walking / surfing',
       'Surfing (sitting on his board)', 'Floating on raft',
       'Wading / Surfing', 'Body surfing, stood up on sandbar',
       'Surfing / Swimming', 'Wade fishing', 'Shell Diving',
       'Swimming breast stoke', 'Dived naked into the water on a bet',
       'Swimming with mask & snorkel', 'Playing / standing',
       'Abalone diving using Hookah (near calving whales)',
       'Abalone diving using Hookah (resting on the surface)',
       'Scuba diving (ascending using scooter)',
       'Scuba diving for bivalves',
       'Commercial diver (submerged or treading water)',
       'Surfing, paddling seawards', 'Jumped off rocks into white water',
       'Freediving for seashells',
       'Swimming alongside NOAA research vessel Discoverer',
       'Hookah diving', 'Riding floatation device',
       'Free diving for abalone (ascending)',
       'Paddling on surfboard or body board',
       'Scuba diving at seal colony', 'Floating on his back',
       'Paddling on surfboard', 'Free diving & spearfishing (ascending)',
       'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
       'Lying on surfboard', 'Spearfishing / free diving',
       'Scuba diving (submerged)', 'Hookah diving for sea urchins',
       'Hookah diving for pen shells ', 'Finning the shark that bit him',
       'Swimming behind sailboat', 'Surfing, collided with shark',
       'Free diving / spearfishing, from paddleboard & floating on the surface',
       'Scuba diving (but on surface)', 'Resting on surfboard',
       'Lying on surfboard & paddling',
       "Fishing, stepped on hooked shark's head",
       'Hookah diving for abalone (descending)', 'Feeding fish',
       'Scuba diving, but swimming on surface', 'Surfing with dolphins',
       'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
       'Sittting in water with his child', 'Surfing / treading water',
       'Lying atop surfboard', "Attempting to lasso shark's tail",
       'Free diving  & spearfishing (submerged)', 'Racing ski',
       'Hookah diving for abalone', 'Free diving for scallops',
       'Scuba Diving for lobster (at surface)',
       'Sailing on catamaran & fell into the water',
       'Surfing or body surfing', 'Skindiving',
       "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ",
       'Towing her sister on plastic ski board',
       'Swimming from the New Venture ',
       '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
       'Surfing & dangling foot in water amid baitfish', 'Water-skiing',
       'Paddleskiing', 'Free diving for abalone from Zodiac (submerged)',
       'Paddle Boarding',
       "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
       'Snorkeling on surface', 'Shell diving', 'Standing / Wading',
       'Floating with life preserver after his boat foundered',
       'Swimming, after single-engine aircraft went down in the sea',
       'Free diving for abalone (surfacing)', "40' fishing boat sank",
       'Spearfishing / Scuba diving',
       'Hookah diving for abalone (submerged)',
       'Thrashing the water / imitating the shark victim from "Jaws"',
       'Scuba diving & spearfishing', 'Floating on a small orange raft ',
       'Scuba diving for abalone',
       'Scuba diving for abalone (at surface)',
       'Swimming underwater from crayfish cage to a fishing bait',
       'Free diving (but on surface)',
       'Swimming alongside yacht Mexico Fiesta',
       'Free diving, Spearfishing', 'Sitting in shallows',
       'Freedom Swimming', 'Scuba diving & feeding fish',
       'Fishing for prawns', 'Washing cooking pans',
       'Fishing, trying to catch the end of his fishing line',
       'Freediving', 'Feeding mullet to sharks', 'Dynamite fishing',
       'Spearfishing using Scuba', 'Clamming',
       'Wading & pushing dinghy toward  the shallows',
       'Standing on sandbar', 'Pulling shark from the water',
       'Spearfishing, dived to pick up a float line',
       'Photographing sharks underwater using Scuba', 'Feeding a shark',
       'Free diving, carrying speargun', 'Diving into water',
       'Killing a shark', 'Sinking of the dredge World Atlas',
       'Shipwreck', 'Helping men land a shark',
       'Free diving / spearfishing (resting on the surface)',
       'Body surfing ',
       'Hauling dead shark aboard, when another shark leapt out of the water & bit him',
       'Walking on reef', 'Paddling rescue ski',
       'Canoe swamped, swimming back to canoe', 'Free diving with seals',
       'Swimming out to rescue swimmers in difficulty',
       'Surfing, but swimming to his board',
       'Floating on his back in an inner tube',
       'Spearfishing using scuba',
       'Canoe capsized with 10 occupants, 8 survived,  Hamilton swam off to seek help',
       'Skin diving ', 'Spearfishing / Scuba diving (at surface)',
       'Helping friend land hooked shark', 'Splashing in surf',
       'Treading water while alongside capsized yacht',
       'Fishing / standing in waist deep water', 'Spearing fish',
       'Surf fishing, wading ', 'Spearfishing, pulled shark’s tail',
       'Free diving, hunting crayfish', 'Spearfishing with Scuba gear',
       'Surf fishing in waist-deep water', 'Finning the shark',
       'Fishing for albacore', 'Playing in surf with his child  (9)',
       'Dived from inner-tube', 'Rolled off raft',
       'Escaping from Alacatraz',
       'Scuba diving, attempting to catch a captive shark', 'Splashing ',
       "Fishing with hand net in 2' of water",
       'Surfing, pushing board ashore',
       'Swimming with other crew near wharf',
       'Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
       'Net fishing, picking catch from the net',
       'Scuba diving & spearfishing ', 'Walking in chest-deep water',
       'Checking fish traps, fell into the water',
       'Swimming, using bundles of sticks as raft',
       'Spearfishing, shark grabbed his white t-shirt and towed him ',
       'Collecting aquarium specimens',
       'Fishing, when line became snagged on rock & he dived into water to free it ',
       'Chasing shark out of bathing area while riding on a surf-ski',
       'Ejected from F3H-2 aircraft ', 'Swimming 3 miles offshore',
       'Standing in knee-deep water',
       'Holding shark on leader & dangling it above the water',
       'Fishing, tossing netted shark onboard',
       'Diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water',
       'Spearfishing, free diving, possibly ascended into path of cruising shark',
       'Free diving but treading water at surface',
       'Skindiving for abalone (but at surface)',
       'Spearfishing, carrying fish on belt',
       'Wading, fishing for flounder',
       'Dived from dinghy to retrieve oar in heavy seas',
       'Standing in chest-deep water',
       'Trailing the field in a surf race',
       "Swimming at surface through school of feeding 2.5' to 5’ sharks",
       "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
       'Spearfishing (but on surface)', 'Bathing with sister',
       'Working prawn net', 'In deep water about 100 yards from his ship',
       'Surfing, but treading water',
       'Swimming ashore from fishing boat swamped and sunk by a squall',
       'Surfing on air mattress', 'Cleaning hull of ship ',
       '"Climbing up to ship after repairing the stern in water"',
       'Swimming, ducking for shells in water 0.9 m deep',
       'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
       'Spearfishing, had fish on his spear',
       'Paddling in knee-deep water', 'Swimming with goggles',
       'Competing in spearfishing championship & towing dead fish',
       'Swimming between  anchored  pearling luggers',
       'Skindiving, fish at belt', 'Swimming near pier',
       'Free diving for crayfish', 'Floating in inner tube',
       'Swimming, attacked at  surf carnival',
       "Competing in U/W endurance record, standing beside drum in 10' of water",
       'Hunting lobsters in 2.4 m of water',
       'Pearl diving from lugger Whyalla', 'Crouching in the water',
       'Swimming or wading out  to warn bathers that a shark had been seen',
       'Fishing, setting nets', 'Body surfing & treading water',
       'Fell overboard', 'Fell off surf ski',
       'Body surfing / treading water',
       'Jerked overboard while pole fishing for tuna',
       'Swept off deck of S.S.Frontenac enroute from West Indies to US',
       'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA ',
       'Bending over', 'Free diving or wading back to shore',
       'Swimming near shore', 'Bathing in water 0.9 m deep',
       'Lifesaving exhibition', 'Treading water, waiting for a wave',
       'Underwater photography', 'Fishing from surf ski',
       'Moving shark from tuna vessel when boat rolled, placing both man & shark in chest-deep water',
       'Swimming after a tennis ball', 'Jumping in swells',
       'Dived overboard to check propeller of US Navy motor torpedo boat',
       'Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177',
       'Dog paddling or standing',
       'Swimming along side N.E.L. vessel Saluda',
       "Fishing from 32' boat",
       'Rescuing seaman after ship sunk by German raider',
       'Standing on sandbank',
       'Dress diving, filming shark & pulling it through the water for a motion picture scene',
       'Swimming, naked',
       'Diving from the lugger San, operated by the Protector of the Aborigines',
       'Refused permission to cross on the ferry, he was swimming across the river',
       'Swimming crawl stroke', 'Diving for trochus',
       'Swimming. Passer-by, Len Bedford, heard him shriek , saw shark leap from the water & swimmer disappeared',
       'Fell overboard, hanging onto lifebuoy',
       'Surfing (pneumatic surfboard)', 'Splashing',
       'Swimming (lead swimmer in race)',
       'Taken as he dived into the water', 'Swimming & splashing',
       'Swimming in waist-deep water ', 'Swimming in hip-deep water',
       'Swimming on sandbar adjacent to channel',
       'Collecting fish by lamplight in gully', 'Diving off wharf',
       'Diving off pier & treading water', 'Standing in waist-deep water',
       'Swimming with dog near canning factory',
       'Fell overboard from SS Ripley Castle',
       'Bathing in waist-deep water',
       'Inebriated, woke from sleep and fell off deck into the water ',
       'Fishing, fell in water & swimming strongly to shore',
       "Bathing in 5' of water",
       'Had just dived into water & was swimming',
       "Bathing in 3' to 4' of water", 'Bathing in knee-deep water',
       "Fell from his father's back into the water",
       'Wading to dinghy, carrying his son', 'Floating face down',
       'Wading (shrimping)',
       'Taking wife to beach & about 1 m from the shore',
       'Washing horses', 'Swimming at side of small boat',
       '"Crossing the river"',
       'Swimming alongside the schooner Catherine Wilcox',
       'Bathing near whaling ship (bark A. R. Tucker of New Bedford, Massachusetts)',
       'Washing his feet'], dtype=object)

### Name

In [37]:
data.Name.unique()

array(['Julie Wolfe', 'Adyson\xa0McNeely ', 'John Denges', ...,
       'Alfred Australia Howe', 'William May',
       'Samuel Jennings, a deserter from the British frigate Milford'],
      dtype=object)

### Sex

In [38]:
data.Sex_.unique()

array(['F', 'M', 'M ', 'lli'], dtype=object)

In [39]:
data[data['Sex_']=='lli']

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
1624,2004.11.11.b,11-11-2004,2004.0,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,lli,38,"Lacerations to hand, knee & thigh",N,13h30,5.5 m [18'] white shark,"R. Collier, GSAF",2004.11.11.b-Kang.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2004.11.11.b,2004.11.11.b,4679.0,0,0

In [40]:
data.Sex_.replace(['M ','lli'],['M','M'],inplace=True)

In [41]:
data.Sex_.unique()

array(['F', 'M'], dtype=object)

### Age

In [42]:
data.Age.unique()

array(['57', '11', '48', '18', '15', '12', '32', '10', '21', '30', '60',
       '33', '37', '19', '25', '69', '55', '34', '35', '40s', '20', '54',
       '14', '22', '31', '17', '40', '28', '42', '3', '13', '50', '46',
       '82', '41', '20s', '51', '39', '58', '26', 'Teen', '47', '16',
       '61', '65', '73', '36', '66', '29', '43', '60s', '49', '9', '59',
       '6', '64', '23', '52', '24', '45', '71', '44', '7', '27', '62',
       '38', '68', '63', '70', '53', '8', 'teen', '77', '74', '56', '30s',
       '5', '86', '18 or 20', '12 or 13', '84', '\xa0 ', ' ', '30 or 36',
       '6½', '33 or 37', 'mid-30s', ' 30', ' 28', '20?', "60's", '75',
       '21 or 26', '20 ', '>50', '(adult)', '25 or 28', '30 & 32',
       '13 or 18', '33 & 26', '7 or 8', 'F', '9 or 10', '  ', '31 or 33'],
      dtype=object)

In [48]:
data.Age.replace(['40s','Teen','60s','teen','30s','18 or 20','12 or 13','\xa0 ',' '],['45','15','65','15','35','18','12','25', '25'],inplace=True)
data.Age.replace(['30 or 36', '6½','33 or 37', 'mid-30s','20?',"60's"],['30','6','33','35','25','65'],inplace=True)
data.Age.replace(['21 or 26','>50','(adult)','25 or 28','30 & 32','13 or 18','33 & 26','7 or 8','F','9 or 10', '  ','31 or 33'],['21','50','45','25','30','13','33','7','25','9','25', '31'],inplace=True)
data.Age.replace('20 ','20',inplace=True)
data.Age.replace('20s','20',inplace=True)
data.Age.replace([' 30' , ' 28' ],['30','28'],inplace=True)
data.Age.unique()

array(['57', '11', '48', '18', '15', '12', '32', '10', '21', '30', '60',
       '33', '37', '19', '25', '69', '55', '34', '35', '45', '20', '54',
       '14', '22', '31', '17', '40', '28', '42', '3', '13', '50', '46',
       '82', '41', '51', '39', '58', '26', '47', '16', '61', '65', '73',
       '36', '66', '29', '43', '49', '9', '59', '6', '64', '23', '52',
       '24', '71', '44', '7', '27', '62', '38', '68', '63', '70', '53',
       '8', '77', '74', '56', '5', '86', '84', '75'], dtype=object)

In [56]:
data.Age=data.Age.astype(int)
data.Age.unique()

array([57, 11, 48, 18, 15, 12, 32, 10, 21, 30, 60, 33, 37, 19, 25, 69, 55,
       34, 35, 45, 20, 54, 14, 22, 31, 17, 40, 28, 42,  3, 13, 50, 46, 82,
       41, 51, 39, 58, 26, 47, 16, 61, 65, 73, 36, 66, 29, 43, 49,  9, 59,
        6, 64, 23, 52, 24, 71, 44,  7, 27, 62, 38, 68, 63, 70, 53,  8, 77,
       74, 56,  5, 86, 84, 75])

### Injury

In [60]:
data.Injury.unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'Right thigh and left foot severely bitten',
       'FATAL     Injured by shark, died of tetanus',
       'Hand and foot severely bitten, surgically amputated'],
      dtype=object)

### Fatal

In [63]:
data.Fatal_YON.unique()

array(['N', 'Y', 'M', '2017', 'UNKNOWN', ' N'], dtype=object)

In [67]:
data.Fatal_YON.replace(['M','2017',' N'],['N','UNKNOWN','N'],inplace=True)

In [68]:
data.Fatal_YON.unique()

array(['N', 'Y', 'UNKNOWN'], dtype=object)

In [70]:
data[data['Fatal_YON']=='UNKNOWN']

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
786,2012.06.10,10-06-2012,2012.0,Provoked,ITALY,Sardinia,Muravera,Attempting to rescue an injured & beached shark,Giorgio Zara,M,57,Lower left leg injured PROVOKED ACCIDENT,UNKNOWN,Morning,"Blue shark, 2.5m","D. Puddo, 6/11/2012",2012.06.10-Zara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.06.10,2012.06.10,5517.0,0,0
2267,1996.12.29,29-12-1996,1996.0,Unprovoked,AUSTRALIA,Queensland,Coolum Beach,Surfing,Blair Hall,M,18,unknown,UNKNOWN,18h00,unknown,"The Advertiser, 12/30/1996, p.3",1996.12.29-BlairHall.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1996.12.29,1996.12.29,4036.0,0,0
3429,1969.06.27,27-06-1969,1969.0,Unprovoked,USA,Florida,Florida Keys,Wading,Steven Benham,M,22,No details,UNKNOWN,1600,unknown,H.D.Baldridge (1994) SAF Case #1652,1969.06.27-NV-Benham.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.06.27,1969.06.27,2874.0,0,0
3434,1969.05.22,22-05-1969,1969.0,Unprovoked,DOMINICAN REPUBLIC,unknown,unknown,Surfing,"Douglas Kuchn, Jr.",M,18,unknown,UNKNOWN,16h00,unknown,H.D.Baldridge (1994) SAF Case #1607,1969.05.22-NV-Kuchn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.05.22,1969.05.22,2869.0,0,0

In [71]:
data.drop(index=(data[data['Fatal_YON']=='UNKNOWN'].index),inplace=True)

### Time

In [73]:
data.Time.unique()

array(['18h00', '14h00  -15h00', '07h45', 'Late afternoon', '17h00',
       '14h00', 'Morning', '15h00', '08h15', '10h40', '09h30', '21h50',
       '09h40', '08h00', '17h35', '15h30', '07h30', '19h00, Dusk',
       'Night', '16h00', '12h00', '13h45', '23h30', '09h00', 'Afternoon',
       '18h30', '12h30', '16h30', '18h45', '06h00', '10h00', '10h44',
       '10h30', '13h19', '13h30', '11h20', '08h30',
       'Shortly before 12h00', '17h10', '11h00', '11h15', '17h45',
       '13h00', '10h20', '13h20', '07h00', '02h00', '09h50', '11h30',
       '17h30', '9h00', '10h43', 'After noon', '15h15', '14h30', '15h40',
       '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34',
       '15h25', '15h45', '17h46', 'Morning ', '15h49', '10h45', '19h00',
       '10h15', '18h15', '04h00', '14h50', '13h50', '10h25', '16h50',
       '16h45', '15h52', '06h15', '14h40', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '11h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '20h00', '16h40',
       'Early afternoon', '17h50', '18h15-18h30', '09h57', '08h20',
       '17h58', '20h30', '15h19', '15h55', '13h55', '16h05', '14h10',
       '15h20', '12h50', '14h45', '13h40', '13h24', '09h00 - 09h30',
       '0830', '11h40', '08h10', '15h56', 'Just before noon', '07h56',
       '1600', '17h17', '16h35', '09h05', '07h15', '14h20', '19h45',
       '07h20', '19h28', '12h38', '15h50', 'Dawn', '05h45', '13h25',
       '12h20', '13h26', '09h11', '12h15', 'Midday', '18h20', '15h35',
       '13h51', '10h55', '14h55', '08h50', '08h05', '10h35', '19h15',
       '15h44', 'Dusk', '21h00', '15j45', '09h35', '10h27', '10h16',
       '0500', '13h15', '19h30', 'Before 07h00', '10h00 -- 11h00',
       '17h20', '12h05', '14h21', '11h10', 'Early morning', '18h50',
       '15h53', '"Just before 11h00"', '11h115', '13h42', '20h15',
       '12h39', '23h00', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', 'Sunset', '17h15', '16h10',
       '11h30 ', '06h10', '12h40', '16h15', '07h08', '17h00 or 17h40',
       '11h05', '>08h00', '--', '12h02', '12h55', '16h14', '17h11',
       '14h37', '10h07', '13h53', '13h23', 'Just after 12h00', '02h30',
       '08h40', '11h56', '14h35', ' ', 'Early Morning',
       'Shortly after midnight', '14h25', '\xa0 ', '06h47', '10h10',
       '09h00 -10h00', '20h45 (Sunset)', 'Late morning', 'P.M.', '18h40',
       '13h14', '13h06', 'Shortly before 13h00', '12h34', '11h53',
       '8:04 pm', '12h46', '12h48', '17h42', '12h35', '07h50', '11h57',
       '17h40', '11h25', '18h25', '10h28', '09h15', '14h16', '09h55',
       '2 hours after Opperman', '15h05', '09h30 ', 'Mid morning',
       '11h48', '11h00 / 11h30', '07h19', '13h37', '11h06', '"Night"',
       '18h30?', '11h58', '18h12', '07h10', 'A.M.', '07h40', '12h33',
       '>06h45', '15h06', 'Between 06h00 & 07h20', '16h55', '05h40',
       'Nightfall', 'X', '08h57', '06j00', '08h35', '10h22',
       'Prior to 10h37', 'Daybreak', 'AM', 'Mid-morning', '08h55',
       '16h30 or 18h00', 'Just before dawn', ' 14h00', 'Daytime', '06h50',
       'Dark', '10h00 / 11h00', '15h00 or 15h45', 'Midnight', '03h00',
       '12h45 / 13h45', '14h00 - 15h00', 'night', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '13h35', '10h30 or 13h30', '16h23',
       '15h00j', '11h55', '"After dark"', '19h10', '16h25',
       '18h15 to 21h30', '1500', 'After 04h00', '19h55', 'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '18h10', 'After midnight', 'Late afternon', '05h30',
       '"Early evening"', 'Before 10h30', '06h00 -- 07h00'], dtype=object)

### Species

In [75]:
data.Species_.unique()

array(['White shark', 'unknown', 'Tiger shark', "Bull shark, 6'",
       'Grey reef shark', 'Invalid incident', '3 m shark',
       'White shark, 2.5 m', 'Bull shark', "Tiger shark, 12'",
       'Wobbegong shark', '3.5 m shark', '1.8 m shark',
       'Juvenile white shark,  2.7 to 3.2 m', 'Bull shark, 2 m',
       'Bull shark, 3 m ', 'small shark', 'White shark, 4.6 m',
       '2 m shark', 'Wobbegong shark, 1 m', 'White shark, 4.5 m',
       'Tiger shark, 8 to 10 feet', "8' shark", "5' to 6' shark",
       'White shark, 3 to 3.5m ', 'White shark, 3 m',
       "White shark, 5' to 7'", 'Possibly a juvenile blacktip shark',
       "4' shark", '"A small shark"', "White shark, 11' to 13'",
       "White shark, 8' to 10'", "Bull shark, 4' to 5'", 'Bull shark, 2m',
       'White shark, 4 m', "Bull shark, 5' to 7'", 'Bull shark, 4 m',
       'Bull shark, 1 m', 'Wobbegong shark, 2m',
       'Broadnose sevengill shark, 1.5 m', " 6' to 8' shark",
       'White shark, 3.5 m', "3' to 4' shark", "Tiger shark, 10'",
       'Bull shark, 3.5 m', "Tiger shark, 10' ", 'Blue shark',
       'reef shark, 1m', "White shark, 10' to 12'", 'dogfish shark',
       'Tawny nurse shark', "Caribbean reef shark, 4.5'",
       "3' to 5' shark", "3' shark", '3+ m shark', 'Mako shark',
       "5' shark", "Blacktip shark, 4'", "Nurse shark, 2'",
       "Mako shark, 1.5 m [5'] ", 'Grey reef shark, 2 m',
       'Tiger shark, 2.5 m', "Tiger shark, 14'", 'Blacktip shark',
       "9' shark", "Bronze whaler shark, 6'", 'Galapagos shark',
       'Bull shark, 2.8 to 3.1 m', "Spinner shark, 5'", "Tiger shark, 7'",
       "Tiger shark, 13' ", "4' to 5' shark", "Blacktip shark, 4' to 5'",
       "Blacktip shark, 5' to 6'", 'juvenile shark', "Tiger shark, 13'",
       "6' shark", "White shark, 11' to 12'", 'Hammerhead shark.',
       "White shark, 10' to 12' ", "White shark, 13'",
       "Hammerhead shark. 6' to 7'", "Blacktip or spinner shark, 4'",
       'White shark, 3.9 to 4.2 m', "White shark, 7'", "6' to 7' shark",
       'White shark, 2m to 3 m', 'Sandtiger shark', "Bull shark, 5'",
       'Bull shark, 2.5 m', '1m to 1.2 m shark', '3- to 4-foot shark',
       'White shark, 6 m', 'Tiger shark, 8 to 12 feet',
       'Tiger shark, 3.5 m', '3.5 to 4 m shark', '2 m to  3 m shark',
       'Bull shark, 1.3 m', 'White shark or oceanic whitetip shark',
       'Raggedtooth shark, 1.3 m', 'White shark, 4 to 5 m', '1.5 m shark',
       "2' shark", '1 m shark', "8' to 10' shark",
       '2 white shark: 13\' & 9"8"', "7' shark",
       "White shark, 12' to 14'", 'Spinner shark', " Bull shark, 5'",
       "4' tp 5' shark", '1.8 metre shark', "6' to 8' shark",
       "Caribbean reef shark, 7' to 8'", " Sandbar shark, 3' to 4'",
       'Bronze whaler shark, 1.5m', " white shark, 15' ",
       '3 m to 4 m white shark', 'Blacktip reef shark ', '7-gill shark?',
       'Reported to involve a bull shark', 'White shark, 3m ',
       "Tiger shark, 10' to 12'", "4' to 6' shark",
       ' Wobbegong shark, 1.6 to 1.8m ', 'Tiger shark, 3m ',
       'Thought to involve a white shark', "White shark, 10 '",
       'Blacktip reef shark, 1m', 'Thought to involve a bull shark',
       "Whitetip reef shark, 4' to 6'", 'Nurse shark?',
       'Small bull shark', "Mako shark, 5'", 'Tiger shark?',
       "Bull shark, 8'", "Bull shark, 6' to 8'",
       "Tiger shark, 8' to 10' ", 'Nurse shark', 'a small shark',
       'Grey nurse shark, 3m', 'Possibly a blacktip reef shark',
       'Raggedtooth shark, 1.5 m', 'Tiger shark, 4.8 m',
       'Bronze whaler shark, 2.5m', 'White shark, 4m', 'Lemon shark',
       "Tiger shark, 15'", '2.5 m shark', 'Bull shark, 2m ',
       "Tiger shark, 6'", "10' shark", "2' to 3' shark",
       "Tiger shark, 8'", "Tiger shark, 10' to 12' ",
       "White shark, 15' to 16' ", '2m shark', "3.5' to 4' shark",
       "Lemon shark, 4' to 5' ", 'White shark or bronze whaler',
       'White shark, 5m', "14' to 18'shark", "15' shark",
       'possibly a bull shark', 'a small reef shark',
       'small blacktip shark?', 'Blacktip shark ', 'White shark, 2 m',
       '18" to 24" shark', 'Bull shark, 3m', 'White shark, 4 m to 5m ',
       "Tiger shark, 10'  ", 'White shark, 4m ', 'Possibly a bull shark',
       "Possibly a 5' to 6' bull shark", 'Tawny nurse shark, 40cm',
       'Tiger shark, 3m', 'White shark, 2.7 m',
       'Allegedly a 4 m tiger shark', 'White shark, 2.5m',
       'Wobbegong shark?', "White shark, 10'", 'Port Jackson shark, 1m',
       '2 to 2.5 m shark', 'Tiger shark, 2m',
       "6' shark, possibly a blactip or spinner shark",
       "White shark, >6'", "Possibly a 5' to 6' sandtiger shark",
       '4 m shark', 'Grey reef shark ', 'White shark, 3m to 4m',
       'Bull shark, 3m female', 'Zambesi shark', ' Tiger shark, 2.8m',
       'reef shark, 1.5m', "1' to 2' shark",
       'possibly a bronze whaler shark', 'Bull shark, 2.5m',
       '3 m to 4 m shark', 'White shark x 2', 'Caribbean reef shark',
       'Oceanic whitetip shark, 2.5m ', 'Mako shark ',
       'Oceanic whitetip shark, 2.5m, female', "Porbeagle shark, 8' ",
       "White shark, 14' to 18' ", 'Bull shark, 1.4m ',
       'Possibly a small blacktip shark', "Sandtiger shark, 4' to 5'",
       'Angel shark', "Blue shark, 7'", "Lemon shark, 4'",
       '20 to 30kg shark', "Lemon shark, 6'", "14' shark",
       "Oceanic whitetip shark, 6'", 'Wobbegong shark, 1.6m',
       'Zambesi shark, 2m ', "Sandtiger shark, 8'", 'Thresher shark',
       'Spurdog', 'Shark involvement prior to death not confirmed',
       "White shark, 5' to 6' juvenile ", 'Bull shark?',
       "Nurse shark, 6'", 'Thought to involve a Bronze whale shark, 2m',
       'Oceanic whitetip shark, 2.5 to 3m', '80 kg shark',
       'blacktip or spinner shark', 'Bronze whaler shark?',
       'Thought to involve a cookie cutter shark', 'Blue shark, 1m',
       '2.6 m shark', 'White shark, 2.5m ', 'Bull shark, 2.7 m ',
       "White shark, 12' ", 'Dusky shark, 2m', 'White shark, 3.5m',
       'Broadnose sevengill shark', 'White shark, 4m to 5m ',
       '4 to 5m white shark', 'Raggedtooth shark, 2m', '5 m white shark',
       "+3' shark", 'Bronze whaler shark', "2' to 3' juvenile shark",
       "8' bull shark or Caribbean reef shark",
       "8' white shark or 7-gill shark", "Bull shark, 6' to 7'",
       "4.5 to 5' shark", "White shark, 15'", '2 small bull sharks',
       'Bull shark, 1.8m', "White shark, 12' to 15'", "1.5' to 2' shark",
       "2.5' shark", 'Shark involvement not confirmed',
       'A bull shark, according to some of the divers on the boat',
       'Mako shark, 90kg', '1.5 to 2 m shark', "Blacktip shark, 5'",
       'Oceanic whitetip sharks were in the vicinity', "9.5' shark?",
       "Nurse shark, 2' to 3' ", 'Possibly a spinner shark',
       "White shark, 12'", "Possibly a 6' bull shark", ' ',
       "Possibly a 10' bull shark", 'Bronze whaler shark, 1.5 m ',
       "Bull shark, 5' ",
       'A 10-year-old 94-pound pregnant blacktip reef shark',
       'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
       "Tiger shark, 14' ", '"a small shark"', 'White shark, 3m',
       "6' to 8' shark, possibly a tiger shark", '2.5 to 3 m shark',
       '2 to 3 m shark', "White shark, 12' to 15' ",
       'Raggedtooth shark, 150-kg', 'White shark, 5m ',
       '2 m to 3 m shark', "White shark, 16' ", "3' to 3.5' shark",
       'White shark?', 'Angel shark, 1.2m ',
       "5' to 6' spinner or bull shark",
       "Possibly a 1' to 3' blacktip or spinner shark", "14' white shark",
       "Tiger shark, 8' to 12'", "Grey reef shark, 5' to 8' ",
       'Wobbegong shark, 2 m ', "Bull shark, 4' to bull shark",
       'Bronze whaler shark, a  juvenile ',
       'Raggedtooth shark, 2.5 m to 3 m ', "Tiger shark, 5' ",
       'Bronze whaler shark, 2 m', "5' to 7' shark", 'Raggedtooth shark',
       "12' to 18' shark", '3.5 m white shark', 'Whitetip reef shark',
       'Raggedtooth shark, 2.5m ', "12' to 14' white shark",
       "18' white shark", "Tiger shark, less than 10'",
       'Caribbean reef sharks', "14' to 16' white shark",
       "4 m [13'] white shark", 'juvenile white shark',
       'Possibly a sandbar shark or small blacktip shark',
       "1.8 m [6'] shark", "[4.5' to 5'] shark", "[4' to 5']",
       "1.8 m [6'] bull shark",
       'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
       'Unknown, but it was reported that a shark tooth was recovered from the wound',
       '"small shark"', "Tiger shark, 3 m [10']", "4 m [13'] shark",
       "6 m [20'] white shark", "Sandtiger shark, 2.1 m [7'] ",
       '4.5 m & 5 m white shark ', "5.5 m [18'] white shark",
       "2.5 m [8.25'] bull shark", "2 m [6.75'] white shark",
       "Bronze whaler shark, 2.4 m [8'] ",
       "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
       "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
       'Thought to involve a 2.5 m bull or tiger shark',
       "2.4 m [8'] shark", 'Tiger shark, 1.5 m ',
       "4.9 m to 5.5 m [16' to 18'] white shark", "1.2 m [4'] shark",
       "1.2 m to 1.5 m [4' to 5'] shark", '2 sharks, 4.5 m & 3 m ',
       '9\'2" white shark', "Bronze whaler shark, 2.5 m [8.25'] ",
       "0.9 m to 1.5 m [3' to 5'] shark",
       "2.4 m to 3.7 m [8' to 12'] shark",
       "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
       "Mako shark, 1.8 m [6']", "5 m [16.5'] white shark",
       "1.2 m [4'] bull shark", 'bull shark',
       "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
       "2 m [6.75'] sevengill  shark",
       "4 m to 5 m [13' to 16.5'] white shark",
       'Bull shark, 132-kg [291-lb] ', "Tiger shark, 4 m [13']  ?",
       "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
       '1.2 m [4\'] "grey-colored shark"',
       "4.5 m to 5.5 m [15' to 18'] white shark",
       "3.5 m [11.5'] white shark", 'Unidentified species',
       "2.1 m  [7'] bull shark", "106 cm [3.5']  shark",
       '“small brown shark”', "3.7 m to 4.3 m [12' to 14'] shark",
       '"sand shark"',
       "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
       "0.9 m to 1.2 m [3' to 4'] shark", 'A “small” shark',
       '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
       "Mako shark, 3 m [10']", "2.5 m [8.25'] white shark",
       'Species unidentified',
       "Thought to involve a 2 m [6.75'] grey nurse shark",
       "Thought to involve a >2 m [6.75'] bull shark",
       'White shark, 4 m white shark',
       "3 m to 4.5 m [10' to 15'] white shark",
       "2.4 m to 3 m [8' to 10'] grey colored shark",
       "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
       'Possibly a bull shark or tiger shark',
       'Blacktip or spinner shark', "3.5' to 4.5' shark",
       "1.2 m [4'] blacktip shark", "1.8 m [6'] blacktip shark",
       "Tiger shark, 1.5 m [5']k", "3 m to 3.7 m [10' to 12'] shark",
       'Bull or tiger shark', "1' to 2' hammerhead or bonnethed shark",
       "0.9 m  to 1.2 m [3' to 4'] shark", "Nurse shark, 1.5 m [5'] ",
       "1.2 m [4'] blacktip or sandbar shark",
       "Bull shark, 1.8 m to 2.1 m [6' to 7'] ", 'Mako shark, 400-lb ',
       "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
       "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
       '\xa0 ', "1.5 to 2.5 m [5' to 8.25'] copper shark",
       "3.7 m to 4.3 m [12' to 14'] white shark", '1 m  shark',
       "3' blacktip shark", "White shark, 6m [20']",
       'Bull shark, 400-lb ', "3'  shark", "0.9 m [3'] shark",
       'Nurse shark, 1m ', "Spinner shark, 3' to 4' ",
       '1.5 m [5\'] "whaler shark"',
       'C. leucas tooth fragment recovered from kayak', 'Zambesi shark?',
       'Unidentified', "Tiger shark, 1.8 m [6'] ",
       "Tiger shark, 1.8 m [6']",
       'Questionable incident - shark bite may have precipitated drowning',
       "2' to 3.5' shark",
       'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
       "1.5 m [5'] shark", "3 m [10'] bull shark",
       'Possibly  a blacktip or spinner shark',
       "3' shark, possibly  a blacktip or spinner shark",
       "Blacktip shark, 5' to 6' ", "1.9 m [6.5'] bull shark",
       "0.9 m  [3'] shark", "Bull shark, 2.3 m [7.5'] ",
       "White shark, 2.4 m to 3 m [8' to 10'] ",
       'Possibly a juvenile blacktip or spinner shark',
       "Possibly a 1.5 m [5'] blacktip or spinner shark",
       "White shark, 2.7 m [9'] ",
       "Bronze whaler shark, 2.5 m [8.25']  k", "6 m [20'] shark",
       "1.2 m to 1.8 m [4' to 6'] shark", "White shark, 4.9 m [16'] ",
       "White shark, 5 m [16.5'] ",
       "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
       "2.1 to 2.4 m [7' to 8'] shark", "Blacktip shark, 2' ",
       "White shark, 4 m to 5 m [13' to 16.5'] ", 'White shark, 2.5 m ',
       "60 cm to 90 cm [2' to 3'] shark",
       "White shark, 3.5 m [11.5']  male ", "Tiger shark, 3 m [10'] ",
       "A 2' shark was seen in the area by witnesses",
       "Thought to involve a 2.7 m [9'], 400-lb bull shark",
       'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
       "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
       "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
       "Nurse shark, 1.2 m [4'] ",
       "0.9 m [3'] shark,  probably a blacktip or spinner shark",
       "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
       "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
       '1.3 to 1.6 m shark',
       "2.7 m [9']  bull shark or Caribbean reef shark",
       "White shark, 3 m to 5 m [10' to 16.5'] ",
       "Bull shark, 2.1 m [7']", "Blacktip shark, 1.8 m [6'] ",
       "White shark, 4 m [13'] ", "Tiger shark, 2.5 m [8.25']",
       '3 bull sharks',
       "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
       'Bronze whaler or tiger shark', "White shark, 4.6 m [15'] ",
       'Possibly a white shark', 'A "small shark"',
       'Though to involve a white shark',
       "White shark, 5 m to 6 m [16.5' to 20'] ",
       "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ",
       "White shark, 4.9 m [16']",
       'Thought to involve a 5.5 m white shark named Kong',
       "3 m to 4 m [10' to 13'] white shark",
       "Lemon shark, 1.5 m [5'], identified  by the surfer",
       "1.8 m [6'] shark, possibly a blacktip", "3 m [10'] shark",
       "3 m [10'] white shark", "5' spinner shark",
       'Small dusky shark or blackfin shark',
       "Tiger shark, 4 m to 4.3 m [13' to 14'] ",
       'Possibly a blacktip shark', '"juvenile shark"',
       '4.5 m white shark', "Tiger shark, 2.7m  [9']",
       "1.2 m [4'] shark (spinner shark?)", 'Possibly a sand shark',
       'Tiger shark, 2m to 3m ', "1.8 m to 2.1 m [6' to 7'] shark",
       'Tiger shark, 4.5 m [14\'9"]',
       "3 m to 5 m [10' to 16.5'] white shark",
       "5.5 m to 6 m [18' to 20'] white shark", '"a young shark"',
       "Tiger shark, 2.4 m [8'] ",
       "1.8 m to 2.1 m [6' to 7'] hammerhead shark",
       "2.5 m [8.25'] white shark ",
       "60 cm to 90 cm [2' to 3'] blacktip or spinner shark",
       '"reef shark"', 'Possibly a tiger shark',
       'Tiger shark, 300-kg [662-lb] ',
       "1.2 m to 1.5 m [4' to 5']   shark",
       "1.5 to 1.8 m [5' to 6'] shark", '"sand" shark',
       "Tiger shark, 3.7 m [12'] ", 'Bronze whaler shark, 2 m ',
       "5 m to 5.5 m [16.5' to 18'] white shark", "2.7 m [9'] shark",
       'Thought to involve a small sand shark', 'Small shark',
       "3 to 3.5 m [10' to 11.5'] bull shark", "1.2 m [4'] spinner shark",
       ">1.8 m [6'] shark", '3.6 m [11\'9"] white shark',
       '1.3 m [4\'3"] shark',
       'Tiger shark caught 6 days later with diver’s remains in its gut',
       ">6 m [20'] white shark",
       "1.8 m [6'] blacktip shark or Caribbean reef shark",
       "5.5 m to 6 m [18' to 20']  white shark",
       "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ",
       'Thought to involve a tiger shark',
       "Remains recovered from 5.5 m [18'] white shark",
       "Tiger shark, 3.7 m [12'], (tooth fragment recovered from wound)",
       "Tiger shark, 2.4 m [8']",
       "Tiger shark, 3 m to 4.9 m [10' to 16'] ",
       "Mako shark, 1.8 m [6']  ", "6' to 7' blacktip shark",
       '5 m to 6 m white shark', 'Unidentified shark',
       "Tiger shark, 3 m to 3.7 m [10' to 12'] ",
       "Tiger shark, 4.3 m [14'] ", '4.2 m white shark',
       "4 m to 5 m [13' to 16.5']  white shark ", '4 m white shark',
       'Bull shark or lemon shark', '>2 m shark',
       "5 m [16.5'] white shark, identification by K. Nakaya",
       "Said to involve a 6 m to 7 m [20' to 23'] white shark",
       "Bronze whaler shark, 2.3 m [7.5'] ",
       "Zambesi shark, 1.7 m [5.5'] ",
       "Possibly a 1.5 m [5'] blacktip shark",
       "Tiger shark, 2.4 m 3.4 m [8' to 11']  ",
       "5 m to 6 m [16.5' to 20'] white shark",
       "3 m [10'], 270- kg [595-lb] shark", 'sand shark',
       "Tiger shark, 3 to 4 m [10' to 13'] ",
       "2.7 m [9'] bull or lemon shark", "Tiger shark, >3 m [10']",
       "1.8 m [6'] shark ", "4' spinner shark",
       "1.8 m to 2.4 m [6' to 8'] shark", "5 m  [16.5'] white shark",
       "2.5 m to 3 m [8.25' to 10']  white shark",
       '4.5 m [14\'9"] white shark',
       "5.5 m [18'] white shark, identified by witnesses & tooth marks",
       "2.3 m [7.5'] white shark, identified by M. Smale",
       'Tiger shark, 3 m ', "2.7 m [9'] white shark",
       'White shark, identified by tooth pattern', '150-lb shark',
       "4 m to 5 m [13' to 16.5']  white shark", 'Grey nurse shark',
       ">3.4 m [11'] white shark", "Bronze whaler shark, 3 m [10'] ",
       "Tiger shark, 4 m [13'] ", "2.4 m to 3 m [8' to 10'] white shark",
       'Sand shark?', "1.5 m to 2 m [5' to 6.75'] shark",
       '1 m "grey-colored" shark',
       'Zambezi shark (tooth fragments recovered)', '1.5 m copper shark',
       "2 m [6.75'] shark", "3.5 m [11.5']  white shark",
       '5.7 m white shark', '4.3 m shark', ">2.5 m [8.25'] white shark",
       "1.8 m to 2.1 m [6' to 7'] spinner or blacktip shark",
       "Lemon shark, 1.8 m to 2.4 m [6' to 8'], tooth fragment recovered",
       '1.6 m shark', "1.2 m [4'] dusky shark", '>1 m shark',
       ">2.4 m [8'] white shark", "Raggedtooth shark, 2 m [6.75'] ",
       'Bronze whaler shark, 3.5 m ',
       "2 m to 2.5 m [6.75'  to 8.25'] sixgill or sevengill shark",
       'Possibly a small hammerhead shark',
       '3 m to 3.6 m  [10\' to 11\'9"] white shark',
       '3.5 m white shark, tooth fragments recovered',
       "1.5 m [5'] dusky shark", 'Tiger shark, 4 m ',
       'Hammerhead shark?+O2356', '4.5 m to 5 m white shark',
       "2.4 m [8'] white shark",
       "1.2 m to 1.5 m [4' to 5'] hammerhead shark",
       " 1.5 m [5'] dusky shark", 'Raggedtooth shark, 1 m ',
       'Raggedtooth shark, >1 m ', 'Sand shark', "6' to 8' bull shark",
       "Tiger shark, 5 m [16.5']", "3.5' hammerhead shark",
       "6' blacktip shark",
       "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
       "1.8 m [6'] Zambezi shark",
       'Believed to involve a 2.8 m [9\'3"] white shark',
       "2.4 m [8'] white shark, species identity confirmed by tooth fragment",
       "4.5 m to 5.5 m [14.7' to 18'] white shark",
       "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
       "7 m [23'] white shark",
       'Said to involve a tiger shark or a hammerhead shark',
       'Mako shark (tooth fragments recovered)',
       "Possibly a  1.8 m [6'] Zambezi shark", '6 m  white shark',
       "Raggedtooth shark, 2.5 m [8.25'] ", "Tiger shark, 2.1 m [7']",
       "1.2 m to 1.5 m [4' to 5'] bull, sandbar or dusky shark",
       'C. maculpinnis or C. limbatus',
       'Juvenile dusky or blacktip shark',
       "1.8 m to 2.4 m [6' to 8'] hammerhead shark",
       'Tiger shark, 2.5 m ', "3.5 m [11.5'] shark",
       "1.8 m [6'] white shark", "4' to 8' shark",

### Investigator

In [79]:
data.Investigator_or_Source.unique()

array(['R. Collier, GSAF', 'K.McMurray, TrackingSharks.com',
       'Diario de Pernambuco, 6/4/2018', ...,
       'Gazette (Sydney) 1/31/1837; Proc. Royal Aust. Hist. Scty, I, Part 2, 1924; G.P. Whitley, p.14; Sharpe, p. 87',
       'Edinburgh Advertiser. 11/4/1817; R. DeSilva',
       'W.R.Cutter, Vol.1, p.252'], dtype=object)

### pdf

In [93]:
data.pdf.unique()

array(['2018.06.25-Wolfe.pdf', '2018.06.18-McNeely.pdf',
       '2018.06.09-Denges.pdf', ..., '1837.01.17-Howe.pdf',
       '1817.05.11-May.pdf', '1703.03.26-Jennings.pdf'], dtype=object)

### Href formula

In [80]:
data.href_formula.unique()

array(['http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf',
       ...,
       'http://sharkattackfile.net/spreadsheets/pdf_directory/1837.01.17-Howe.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.05.11-May.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/1703.03.26-Jennings.pdf'],
      dtype=object)

### Href

In [81]:
data.href.unique()

array(['http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf',
       ...,
       'http://sharkattackfile.net/spreadsheets/pdf_directory/1837.01.17-Howe.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.05.11-May.pdf',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/1703.03.26-Jennings.pdf'],
      dtype=object)

### Case_Number1

In [83]:
data.Case_Number_1.unique()

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., '1837.01.17',
       '1817.05.11', '1703.03.26'], dtype=object)

### Case_Number2

In [84]:
data.Case_Number_2.unique()

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., '1837.01.17',
       '1817.05.11', '1703.03.26'], dtype=object)

### Original order

In [87]:
data.original_order.unique()

array([6303., 6302., 6301., ...,  226.,  189.,  143.])

### Unnamed 22

In [88]:
data.Unnamed_22.unique()

array([0], dtype=int64)

### Unnamed 23

In [89]:
data.Unnamed_23.unique()

array([0], dtype=int64)