# W2-Sharks-Clean-Project

### Importación y carga de Datos

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')  # para quitar warnings
pd.set_option('display.max_columns', None) # muestra todas las columnas del df.head()
#pd.set_option('display.max_rows', None) # muestra todas las columnas del df.head()
data=pd.read_csv('attacks.csv',encoding='windows-1252')
data.columns=[c.replace(' ', '_') for c in data.columns]
data.columns=[c.replace('.', '_') for c in data.columns]
data.columns=[c.replace(':', '') for c in data.columns]
data.columns=[c.replace('/', 'O') for c in data.columns]
data.columns=[c.replace('(', '') for c in data.columns]
data.columns=[c.replace(')', '') for c in data.columns]

In [2]:
data=pd.read_csv('attacks.csv',encoding='windows-1252')
data.columns=[c.replace(' ', '_') for c in data.columns]
data.columns=[c.replace('.', '_') for c in data.columns]
data.columns=[c.replace(':', '') for c in data.columns]
data.columns=[c.replace('/', 'O') for c in data.columns]
data.columns=[c.replace('(', '') for c in data.columns]
data.columns=[c.replace(')', '') for c in data.columns]

In [3]:
data.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_YON,Time,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed_22,Unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

### Exploración

In [4]:
data_original = data.shape
data.shape

(25723, 24)

In [5]:
data.columns

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex_', 'Age', 'Injury', 'Fatal_YON', 'Time',
       'Species_', 'Investigator_or_Source', 'pdf', 'href_formula', 'href',
       'Case_Number_1', 'Case_Number_2', 'original_order', 'Unnamed_22',
       'Unnamed_23'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex_                    5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal_YON               5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species_                3464 non-null   object
 15  Investigator_or_Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case_Number_1           6302 non-null   object
 20  Case_Number_2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
null_col=data.isnull().sum()
null_col[null_col>0]

Case_Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex_                      19986
Age                       22252
Injury                    19449
Fatal_YON                 19960
Time                      22775
Species_                  22259
Investigator_or_Source    19438
pdf                       19421
href_formula              19422
href                      19421
Case_Number_1             19421
Case_Number_2             19421
original_order            19414
Unnamed_22                25722
Unnamed_23                25721
dtype: int64

### Limpieza de Datos

In [8]:
#¿Qué filas tienen valores nulos y cuántos?
data.isnull().sum(axis=1)

0         2
1         3
2         3
3         4
4         4
         ..
25718    24
25719    24
25720    24
25721    24
25722    23
Length: 25723, dtype: int64

In [9]:
#Eliminar las filas con más de 20 valores nulos y sobreescribir el dataframe 
data = data.drop(data[data.isnull().sum(axis=1) > ].index)

In [10]:
data.shape

(5334, 24)

In [11]:
#Rellenar espacios en blancos en nombres de las columnas
data.columns=[c.replace(' ', '_') for c in data.columns]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5334 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             5334 non-null   object
 1   Date                    5334 non-null   object
 2   Year                    5334 non-null   float64
 3   Type                    5333 non-null   object
 4   Country                 5332 non-null   object
 5   Area                    5231 non-null   object
 6   Location                5190 non-null   object
 7   Activity                5181 non-null   object
 8   Name                    5310 non-null   object
 9   Sex_                    5117 non-null   object
 10  Age                     3405 non-null   object
 11  Injury                  5332 non-null   object
 12  Fatal_YON               4972 non-null   object
 13  Time                    2912 non-null   object
 14  Species_                3195 non-null   object
 15  Investigator_or_Source  5329 non-null   object
 16  pdf                     5334 non-null   object
 17  href_formula            5333 non-null   object
 18  href                    5334 non-null   object
 19  Case_Number_1           5334 non-null   object
 20  Case_Number_2           5334 non-null   object
 21  original_order          5334 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.0+ MB

### Eliminar filas de Fatal

In [12]:
index_YON=data[data['Fatal_YON'].isna()].index
index_YON

Int64Index([  27,   76,   79,   84,   98,  107,  115,  125,  145,  153,
            ...
            5957, 5988, 5989, 6005, 6012, 6014, 6035, 6046, 6088, 6232],
           dtype='int64', length=362)

In [13]:
data.drop(index=index_YON,inplace=True)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4972 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             4972 non-null   object
 1   Date                    4972 non-null   object
 2   Year                    4972 non-null   float64
 3   Type                    4971 non-null   object
 4   Country                 4970 non-null   object
 5   Area                    4871 non-null   object
 6   Location                4836 non-null   object
 7   Activity                4846 non-null   object
 8   Name                    4952 non-null   object
 9   Sex_                    4763 non-null   object
 10  Age                     3193 non-null   object
 11  Injury                  4970 non-null   object
 12  Fatal_YON               4972 non-null   object
 13  Time                    2774 non-null   object
 14  Species_                2840 non-null   object
 15  Investigator_or_Source  4967 non-null   object
 16  pdf                     4972 non-null   object
 17  href_formula            4971 non-null   object
 18  href                    4972 non-null   object
 19  Case_Number_1           4972 non-null   object
 20  Case_Number_2           4972 non-null   object
 21  original_order          4972 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 971.1+ KB

In [15]:
data[data['Species_'].isna()].index

Int64Index([   1,    2,    5,    9,   11,   12,   15,   17,   19,   28,
            ...
            6283, 6284, 6285, 6286, 6288, 6289, 6290, 6297, 6299, 6301],
           dtype='int64', length=2132)

In [16]:
lstloc=data[(data['Country'].isna())&(data['Area'].isna())&(data['Location'].isna())].index

In [17]:
data.drop(index=lstloc,inplace=True)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4972 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             4972 non-null   object
 1   Date                    4972 non-null   object
 2   Year                    4972 non-null   float64
 3   Type                    4971 non-null   object
 4   Country                 4970 non-null   object
 5   Area                    4871 non-null   object
 6   Location                4836 non-null   object
 7   Activity                4846 non-null   object
 8   Name                    4952 non-null   object
 9   Sex_                    4763 non-null   object
 10  Age                     3193 non-null   object
 11  Injury                  4970 non-null   object
 12  Fatal_YON               4972 non-null   object
 13  Time                    2774 non-null   object
 14  Species_                2840 non-null   object
 15  Investigator_or_Source  4967 non-null   object
 16  pdf                     4972 non-null   object
 17  href_formula            4971 non-null   object
 18  href                    4972 non-null   object
 19  Case_Number_1           4972 non-null   object
 20  Case_Number_2           4972 non-null   object
 21  original_order          4972 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.1+ MB

In [19]:
lstpais=data[(data['Country'].isna())].index

In [20]:
data.drop(index=lstpais,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4970 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             4970 non-null   object
 1   Date                    4970 non-null   object
 2   Year                    4970 non-null   float64
 3   Type                    4969 non-null   object
 4   Country                 4970 non-null   object
 5   Area                    4869 non-null   object
 6   Location                4835 non-null   object
 7   Activity                4844 non-null   object
 8   Name                    4950 non-null   object
 9   Sex_                    4761 non-null   object
 10  Age                     3193 non-null   object
 11  Injury                  4968 non-null   object
 12  Fatal_YON               4970 non-null   object
 13  Time                    2773 non-null   object
 14  Species_                2838 non-null   object
 15  Investigator_or_Source  4965 non-null   object
 16  pdf                     4970 non-null   object
 17  href_formula            4969 non-null   object
 18  href                    4970 non-null   object
 19  Case_Number_1           4970 non-null   object
 20  Case_Number_2           4970 non-null   object
 21  original_order          4970 non-null   float64
 22  Unnamed_22              1 non-null      object
 23  Unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 970.7+ KB

In [ ]:
data[data['Year'].isnull()==True]

In [ ]:
#Rellena la columna Year
data.Year[187]=2017
data.Year[6079]=1836

In [ ]:
data[data['Year'].isnull()==True]

### Arreglar columna href_formula

In [ ]:
data[data['href_formula'].isnull()==True].index

In [ ]:
data.href_formula[5]

In [ ]:
data[data['href_formula'].isnull()==True]

In [ ]:
data.href_formula[3244] ='http://sharkattackfile.net/spreadsheets/pdf_directory/1975.01.19-Barrowman.pdf'

In [ ]:
#Rellenar el dato sin valor de href_formula
data.href_formula[3244]

### Arreglar columna Type

In [ ]:
data.Type.unique()

In [ ]:
data.Type.fillna('Unknown',inplace=True)

In [ ]:
data.Type.replace('Boatomg','Boating',inplace=True)

In [ ]:
data.Type.replace('Boat','Boating',inplace=True)

In [ ]:
data.Type.unique()

### Arreglar columna Unnamed:_23

In [ ]:
#Dame la fila de los NO nulos en Unnamed:_23
data[data['Unnamed:_23'].notna()==True]

In [ ]:
data.info()

### Rellenar datos null

In [ ]:
data.Country.fillna('unknown',inplace=True)

In [ ]:
data.Area.fillna('unknown', inplace=True)

In [ ]:
data.Location.fillna('unknown', inplace=True)

In [ ]:
data.Activity.fillna('unknown', inplace=True)

In [ ]:
data.Name.fillna('unknown',inplace=True)

In [ ]:
data.Age.fillna('unknown',inplace=True)

In [ ]:
data.Injury.fillna('unknown',inplace=True)

In [ ]:
#data[data['Fatal_(Y/N)'].fillna('unknown',inplace=True)]

In [ ]:
#data.Time.fillna('unknown',inplace=True)

In [ ]:
data.Species_.fillna('unknown',inplace=True)
data.Investigator_or_Source.unique()

### Arreglar columna Sex_

In [ ]:
data.Sex_.unique()

In [ ]:
data[data['Sex_']=='lli']

In [ ]:
data.Sex_[1624]='M'

In [ ]:
data[data['Sex_']=='N']

In [ ]:
data.Sex_[4938] = 'unknown'
data.Sex_[6131] = 'M'
data.Sex_[5437] = 'unknown'

In [ ]:
data.Sex_.replace('M ','M',inplace=True)

In [ ]:
data.Sex_.replace('M ','M',inplace=True)

In [ ]:
data.Sex_.fillna('unknown',inplace=True)

In [ ]:
data.Sex_.unique()

In [ ]:
data.info()

In [ ]:
#Cambiar nombre columna Y/N
#Borrar filas null en Y/N
#Borrar filas con country location y area =unknown